---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-imagen.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/feature_image.png";
import featureImage2 from "@images/oslop_feature.png";
import construction from "@images/servicios/reparacion_de_aire.png";
import tools from "@images/servicios/instalacion_de_aire.jpg";
import dashboard from "@images/servicios/mantenimiento_de_aire.jpg";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner btnId="dismiss-button" btnTitle="WhatsApp" />

  <HeroSection
    title=`Refrigeración y Calefacción <span class="text-orange-500 dark:text-orange-400">Oslop Telcom</span>`
    subTitle="En Oslop Telcom, nos especializamos en ofrecer una amplia gama de servicios de aire acondicionado para satisfacer todas tus necesidades de climatización. Desde la instalación hasta el mantenimiento y la reparación, estamos aquí para garantizar que disfrutes de un ambiente fresco y confortable en tu hogar, oficina o cualquier otro espacio."
    primaryBtn="Conócenos"
    primaryBtnURL="/about"
    secondaryBtn="Contacta Ahora"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Mas de <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Oslop Telcom Tu Destino para Soluciones de Aire Acondicionado"
    subTitle="Entendemos que el confort en tu hogar u oficina es fundamental para tu bienestar y productividad. Es por eso que nos dedicamos a proporcionarte soluciones de aire acondicionado que no solo te mantengan fresco en los días calurosos, sino que también mejoren la calidad del aire que respiras."
  />

  <FeaturesGeneral
    title="Servicios de Aire Acondicionado"
    subTitle="Con nuestro equipo altamente capacitado y una atención meticulosa al detalle, te garantizamos un servicio excepcional en cada paso del camino. Desde la planificación inicial hasta la instalación y el mantenimiento continuo, estamos aquí para asegurarnos de que obtengas el máximo rendimiento de tu sistema de aire acondicionado y disfrutes de un ambiente interior óptimo en todo momento."
    src={featureImage2}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Nuestros Servicios de Aire Acondicionado`
    tabs={[
      {
        heading: "Instalación de Aire Acondicionado",
        content:
          "Confía en nuestro equipo experto para la instalación de sistemas de aire acondicionado de alta calidad. Nos aseguramos de que tu sistema esté correctamente instalado y funcionando de manera óptima para brindarte el máximo confort.",
        svg: "tools",
        src: tools,
        alt: "instalaciond e aire acondicionado",
        first: true,
      },
      {
        heading: "Mantenimiento Preventivo",
        content:
          "Para prolongar la vida útil y el rendimiento de tu sistema de aire acondicionado, ofrecemos servicios de mantenimiento preventivo periódico. Nuestros técnicos calificados realizarán inspecciones exhaustivas y ajustes necesarios para mantener tu equipo en condiciones óptimas.",
        svg: "dashboard",
        src: dashboard,
        alt: "Haciendo mantenimiento de aire acondicionado",
        second: true,
      },
      {
        heading: "Reparaciones Rápidas y Efectivas",
        content:
          "¿Experimentas problemas con tu sistema de aire acondicionado? No te preocupes, nuestro equipo está disponible para proporcionarte reparaciones rápidas y efectivas. Diagnóstico preciso, piezas de repuesto de calidad y atención profesional garantizan resultados satisfactorios.",
        svg: "house",
        src: construction,
        second: true,
        alt: "Haciendo reparaciones de aire acondicionado",
      },
    ]}
  />

  <TestimonialsSection
    title="Acelere sus proyectos"
    subTitle="En Oslop Telcom, estamos listos para brindarte soluciones personalizadas y un servicio excepcional que superará tus expectativas."
    ;
    testimonials={[
      {
        content:
          "Estoy realmente impresionado con el servicio de aire acondicionado de Oslop Telcom. Desde el primer contacto hasta la instalación final, su equipo demostró un nivel excepcional de profesionalismo y dedicación. Ahora, gracias a ellos, mi hogar se siente fresco y confortable en cualquier momento del día. Recomiendo encarecidamente a Oslop Telcom a cualquiera que busque soluciones confiables y de calidad para su aire acondicionado.",
        author: "Ana Rodríguez",
        role: "Cliente Satisfecha",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "500+",
        description:
          "Hemos brindado soluciones de aire acondicionado a más de 500 clientes satisfechos",
      },
      {
        count: "1000+",
        description:
          "Nuestro equipo ha realizado mantenimiento preventivo en más de 1000 sistemas de aire acondicionado",
      },
      {
        count: "300+",
        description:
          "Con una respuesta rápida y soluciones efectivas, hemos resuelto con éxito más de 300 casos de problemas de aire acondicionado",
      },
      {
        count: "10 Años +",
        description:
          "Con más de una década en el negocio, en Oslop Telcom contamos con un equipo experto que acumula un amplio conocimiento y experiencia en la industria del aire acondicionado",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Preguntas <br />solicitadas frecuentemente" faqs={faqs} />

  <HeroSectionAlt
    title="¡No esperes más para disfrutar del confort que te mereces!"
    subTitle="No dejes que el calor te agobie ni que el aire viciado afecte tu bienestar. En Oslop Telcom, estamos listos para brindarte soluciones de aire acondicionado que transformarán tu espacio en un refugio de frescura y comodidad."
    url="https://wa.me:+51958826413"
  />
</MainLayout>
